* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0a0d14;
}

/* Quita bordes y outlines de Ant Design en móvil */
.ant-layout,
.ant-layout-content {
  border: none !important;
  outline: none !important;
}

